@tailwind base;
@tailwind components;
@tailwind utilities;

/* 랜덤 별 배경 */
@layer utilities {
  .stars-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .star {
    position: absolute;
    background-color: #fafad2;
    border-radius: 50%;
    animation: twinkle infinite alternate;
  }

  @keyframes twinkle {
    0% {
      opacity: 0.3;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0.3;
      transform: scale(0.8);
    }
  }
}
